* {
  padding: 0;
  margin: 0;
}
body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
}

header {
  height: 80px;
  width: 100%;
  background: #3d66cd;
  line-height: 80px;
}

footer {
  height: 100px;
  width: 100%;
  background: #434244;
  line-height: 100px;
  text-align: center;
}

.contenido {
  height: calc(100vh - 180px);
}
#izquierdoHeader {
  float: left;
  margin-left: 10px;
}
#derechaHeader {
  float: right;
  margin-right: 10px;
}
#h1Header {
  color: #fff;
}
.listaHeader li {
  list-style: none;
  display: inline-block;
}
.listaHeader li a {
  text-decoration: none;
  margin-right: 10px;
  margin-left: 10px;
  color: #fff;
  border-radius: 50px;
}
.listaHeader li a:hover {
  background: #3c3c32;
}
#h3footer {
  color: #fff;
}
